<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/b-lease-icon-main.png')}}"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{title}}</title>
    
</head>



<body style="background-color: #e7e7e7;">
    <!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <a class="navbar-brand" href="{{url_for('dashboard')}}">
      <img src="static/images/b-lease_main.png"
           height="30"
           alt="b-lease logo"
           loading="lazy" />
    </a>
    <br>
  
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-7 mt-5">
        
        <a href="{{url_for('dashboard')}}" class="list-group-item list-group-item-action py-2 text-success c ripple active" aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
        </a>
        <a href="{{ url_for('user_report') }}" class="list-group-item list-group-item-action py-2 ripple ">
          <i class="fas fa-users fa-fw me-3"></i><span>User Report</span>
        </a>
        <a href="{{url_for('property_listings')}}" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-list-ul fa-fw me-3"></i><span>Review Listings</span></a>
        <a href="{{ url_for('contracts') }}" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-file-contract fa-fw me-3"></i><span>List of Contracts</span></a>
        <a href="{{url_for('manage_complaint')}}" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-circle-exclamation fa-fw me-3"></i><span>Complaints</span>
        </a>
        <a href="{{url_for('payment_reports')}}" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-chart-line fa-fw me-3"></i><span>Payment Reports</span></a>
        <a href="{{ url_for('admin_panel') }}" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-user-shield fa-fw me-3"></i><span>Admin Panel</span></a>

        
        <a  href="{{url_for('logout')}}" class="link-success fixed-bottom" ><i class="fa-solid fa-right-from-bracket" style="color: #40a047;"></i> Logout</a>          
        <p style="margin-left: 15px;" class="fixed-bottom-name">{{firstname}} {{middlename | first}}. {{lastname}}</p>  
      </div>
    </div>
  </nav>

</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 10px;">
  <div class="container pt-3 align-items-center">
    <!-- Dashboard -->
        <br>
       
        
        <h3>Hello {{firstname}}</h3>
        <h9>Here's what awaits you..</h9>

        <div class="row row-cols-2 row-cols-md-4 g-5 " style="margin-top:-15px;">

          <div class="card mb-8" style="height:200px;width:330px">
            <div class="row g-0">
              <div class="col-md-4">
                <p class="card-text text-bg-success"><i class="fas fa-file-contract fa-fw me-3 text-white"></i></p>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">254</h5>
                  <p class="card-text1">
                    Concluded Contract
                  </p>
                  <p class="card-text1">
                    <small class="text-muted">updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="space">

          </div>
          <div class="card mb-8" style="height:200px;width:330px">
            <div class="row g-0">
              <div class="col-md-4">
                <p class="card-text text-bg-success"><i class="fas fa-list-ul fa-fw me-3 text-white"></i></p>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">652</h5>
                  <p class="card-text1">
                    Total Listings
                  </p>
                  <p class="card-text1">
                    <small class="text-muted">updated 9 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="space">

          </div>
          <div class="card mb-8" style="height:200px;width:330px">
            <div class="row g-0">
              <div class="col-md-4">
                <p class="card-text text-bg-success"><i class="fas fa-circle-exclamation fa-fw me-3 text-white"></i></p>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">172</h5>
                  <p class="card-text1">
                    Total Complaints
                  </p>
                  <p class="card-text1">
                    <small class="text-muted">updated 2 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  
</main>


 
  

</body>
</html>